{% extends "_base.html" %}
{% block page_title %}- Unauthorized{% endblock %}
{% block content %}

<div class="jumbotron">
  <div class="text-center">
    <h1>401</h1>
    <p>You are not authorized to view this page.</p>
  </div>
</div>

{% endblock %}