{% extends "_base.html" %}
{% block page_title %}- Forbidden{% endblock %}
{% block content %}

<div class="jumbotron">
  <div class="text-center">
    <h1>403</h1>
    <p>You are forbidden from viewing this page.</p>
  </div>
</div>

{% endblock %}