{% extends "_base.html" %}
{% block page_title %}- Page Not Found{% endblock %}
{% block content %}

<div class="jumbotron">
  <div class="text-center">
    <h1>404</h1>
    <p>Sorry. The requested page doesn't exist. Go <a href="{{ url_for('main.home')}}">home</a>.</p>
  </div>
</div>

{% endblock %}